.about {
  padding: 140px 0;
  background: #e6e6f1;
  color: rgb(0, 0, 0);
}

.about-inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 70px;
  align-items: start;
}

/* LEFT SIDE */

.about-left {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about-img {
  width: 100%;
  max-width: 420px;
  border-radius: 28px;
  object-fit: cover;
  box-shadow: 0 30px 80px rgba(0,0,0,0.45);
}

.education-card {
  background: linear-gradient(135deg, #f6c7a1dd, #e9d5ffdd);
  border: 1px solid rgba(0,0,0,0.08);
  backdrop-filter: blur(12px);
  padding: 26px;
  border-radius: 22px;
  color: black;
  box-shadow: 0 12px 35px rgba(0,0,0,0.15);
}
.skill-box h4,
.skill-box ul,
.education-card,
.education-card h3,
.education-card p {
  color: black;
}


.education-card h3 {
  margin-bottom: 14px;
  letter-spacing: 2px;
  font-size: 14px;
  opacity: 0.8;
}

.education-card p {
  margin-bottom: 14px;
  line-height: 1.5;
}

.edu-sub {
  opacity: 0.8;
  font-size: 14px;
}

/* RIGHT SIDE */

.about-right h2 {
  font-size: 48px;
  margin-bottom: 22px;
}

.about-text {
  max-width: 680px;
  line-height: 1.7;
  margin-bottom: 18px;
  color: #000000;
}

/* SKILLS */

.skills-grid {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 22px;
}

.skill-box {
  background: linear-gradient(135deg, #f6c7a1cc, #e9d5ffcc);;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 20px;
  padding: 20px;
  color: black;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}



.skill-box h4 {
  margin-bottom: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.skill-box ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

/* MOBILE */

@media (max-width: 900px) {
  .about-inner {
    grid-template-columns: 1fr;
  }

  .about-img {
    margin: auto;
  }

  .about-right h2 {
    text-align: center;
  }

  .about-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
