* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background: #05050a;
  color: white;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
